|
<div class="add-main">
  <h2 class="text-center">Add Students</h2>
  <form [formGroup]="addForm" novalidate class="form">
    <div
      class="alert alert-danger"
      *ngIf="
        addForm.get('fName').hasError('required') &&
        addForm.get('fName').touched
      "
    >
      Please Insert Your first name
    </div>
    <div class="form group">
      <label for="fName">Student first Name:</label>
      <input
        type="text"
        formControlName="fName"
        placeholder="Student first Name"
        class="form-control"
      />
    </div>
    <div
      class="alert alert-danger"
      *ngIf="
        addForm.get('lName').hasError('required') &&
        addForm.get('lName').touched
      "
    >
      Please Insert Your last name
    </div>

    <div class="form group">
      <label for="lName">Student last Name:</label>
      <input
        type="text"
        formControlName="lName"
        placeholder="Student last Name"
        class="form-control"
        id="lName"
      />
    </div>
    <div
      class="alert alert-danger"
      *ngIf="
        addForm.get('email').hasError('required') &&
        addForm.get('email').touched
      "
    >
      Please Insert Your email
    </div>
    <div
      class="alert alert-danger"
      *ngIf="
        addForm.get('email').hasError('maxlength') &&
        addForm.get('email').touched
      "
    >
      Please Insert Your email
    </div>
    <div class="form group">
      <label for="email">Email:</label>
      <input
        type="email"
        formControlName="email"
        placeholder="email"
        class="form-control"
        id="email"
      />
    </div>

    <button class="btn btn-success" (click)="onSubmit()">Save</button>
  </form>
</div>
<a routerLink="/view" class="btn btn-primary">View Students</a>
